[report]
omit = myscript/*,manage.py,server/wsgi.py,*/test_*,*/migrations/*,server/settings*,*/apps.py,*/scripts.py,generated/*
exclude_lines =
    raise NotImplementedError
    raise HumanOnlyException
    raise AssertionError
    if __name__ == '__main__':
