jupyter
requests
cryptography
python-rapidjson
xmltodict
glob2
lxml
beautifulsoup4
nltk
pandas
pytest-cov
pytest-xdist
flake8
graphviz
snakeviz
xlrd!=1.2.0
openpyxl
scikit-learn
sqlparse
Cython
django
boto3
